
<div>

    <br/>

    <table>
        <tr>
            <td>
                The animal is @Model
            </td>
        </tr>
        
    </table>
    <br/>
    <div>
        <input type="button" class="btn btn-primary" value="back" onclick="location.href='@Url.Action("Index", "Animals")'" />
    </div>
</div>


